<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/css/sign.css">
  <title>Document</title>
</head>
<body>
<form method="POST" action="/auth/signup">
  <div class="container">
    <div class="login-container">
  <div id="output"></div>
  <div class="avatar"></div>
  <div class="form-box">
      <input name="firstName" type="text" class="form-control" placeholder="first Name" />
    </br ></br >
      <input name="lastName" type="text" class="form-control"placeholder="last Name" />
    </br ></br >
      <input name="emailAddress" type="email" class="form-control" placeholder="Email" />
    </br ></br >
      <input name="password" type="password" class="form-control"placeholder="Password" />  
    <br />
      <button type="submit" class="btn btn-primary">Sign Up</button>
    <div>
    </br>
      <p> Already Have account ?
    </p><a href="/auth/signin">Log in </a>
  </div>
</div>
</div>
</div>
  </form>
</body>
</html>