<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/css/sign.css">
  <title>Document</title>
</head>
<body>
  <form method="POST" action="/auth/signin">
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
              <form method="POST" action="/auth/signin">
                    <input name="emailAddress" type="text" placeholder="Email">
                  </br ></br >
                    <input name= "password" type="password" placeholder="Password">
                   <button class="btn btn-info btn-block login" type="submit">Login</button>
                    <div>
                    </br>
                  </br>
                      <p>Don't have account ?
                    </p><a href="/auth/signup">Sign Up</a>
                  
                  </div>
                </form>
            </div>
        </div>
        
</div>
</form>
</body>
</html>
